mss/src/main/app/mock-soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="MockSoapListener" host="${ws.host}" port="${ws.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="mock-soapFlow">
        <http:listener config-ref="MockSoapListener" path="/orders" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="SOAP Request: #[payload]" level="INFO" doc:name="Logger"/>
        <parse-template location="xml/soap/sample-response.xml" doc:name="Parse Template"/>
    </flow>
</mule>
